<nav class="navbar navbar-default" style="border-radius: 0; margin-bottom:0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                List of Event
            </a>
        </div>
    </div>
</nav>
<div class="event-list">
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID.</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Ticket Price</th>
            <th>Venue</th>
            <th></th>
        </tr>
        <tr *ngFor="let e of eventList; index as i">
            <td>{{ e.id }}</td> 
            <td>{{ e.namaevent }}</td> 
            <td>{{ e.waktu }}</td> 
            <td>{{ e.jam }}</td>
            <td>{{ e.hargatiket }}</td> 
            <td>{{ e.lokasi }}</td>
            <td style="text-align: center">
                <button class="btn btn-danger">Buy Ticket</button>
            </td>
        </tr>
    </table>
</div>