<nav class="navbar navbar-default" style="border-radius: 0; margin-bottom:0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                New Event Form
            </a>
        </div>
    </div>
</nav>
<div class="event-registration">
    <div class="form-group row">
        <label class="col-sm-2 control-label">Event Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter your Event Name" [(ngModel)]="newNamaEvent">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label">Date</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter your Date" [(ngModel)]="newWaktu">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label">Time</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter your Time" [(ngModel)]="newJam">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" >Ticket Price</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter your Ticket Price" [(ngModel)]="newHargaTiket" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" >Venue</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter your Location" [(ngModel)]="newLokasi" >
        </div>
    </div>
    <div class="" style="text-align: right">
        <button class="btn btn-primary" (click)="registerevent()">Save Event</button>
    </div>
</div>